body,
h1,
h2 {
    font-family: "Georgia", Times, serif;
}

body,
html {
    height: 100%;
    letter-spacing: 2px;
}

p {
    line-height: 2;
}

.bgimg,
.bgimg2,
.bgimg3,
.bgimg4,
.bgtcv {
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* ratio 16/9 */
    height: 0;
    overflow: hidden;
    clear: both;
}

.video-container embed,
.video-container iframe,
.video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bgtcv {
    background-image: url("img/bg/tcv-red.jpg");
}

.bgimg {
    background-image: url("img/bg/bw.jpg");
}

.bgimg2 {
    background-image: url("img/bg/orange.jpg");
}

.bgimg3 {
    background-image: url("img/bg/magenta.jpg");
}

.bgimg4 {
    background-image: url("img/bg/red.jpg");
}


.img-profile {
    max-width: 100%;
    margin:auto !important;
    height: auto;
    width: auto;
    max-height: 80vh !important;
}

.img-cover {
    width: 100% !important;
    min-height: 100vh !important;
}

a {
    text-decoration: none !important;
}

.div-transluscent
{
    color:#bbb;
    background-color: rgba(0, 0, 0, 0.85);
}

.div-transluscent2
{
    color:#bbb;
    background-color: rgba(0, 0, 0, 1);
}
