body,
h1,
h2 {
    font-family: "Georgia", Times, serif;
}

body,
html {
    height: 100%;
}

p {
    line-height: 2;
}

.bgimg,
.bgimg2,
.bgimg3,
.bgimg4 {
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* ratio 16/9 */
    height: 0;
    overflow: hidden;
    clear: both;
}

.video-container embed,
.video-container iframe,
.video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bgimg {
    background-image: url("img/bg/bw.jpg");
}

.bgimg2 {
    background-image: url("img/bg/orange.jpg");
}

.bgimg3 {
    background-image: url("img/bg/magenta.jpg");
}

.bgimg4 {
    background-image: url("img/bg/red.jpg");
}
