body {
    margin:0;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 1px 1px 2px #aaaaaa;
    color:#222222;
    text-align:justify;
}

p {
    padding:18px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.8;
}

@media (max-width:800px) {
    p{
        font-size: 14px;
    }
}

@media (max-width:500px) {
    p{
        padding:6px;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 1.2;
    }
}

a {
    text-decoration: inherit;
    color:inherit;
}

section {
    padding:80px 0px 80px 0px;
    margin:auto;
    width:94vw;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-img {
    min-height: 100%;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-image: url("img/wave-red-dark-oil10.jpg");
}

/*
** DEBUG
*/
.red {
    background-color: red;
}
.yel {
    background-color: yellow;
}
.blu {
    background-color: blue;
}

/*
** NAVIGATION
*/

#fat-nav {
    position: fixed;
    width:100%;
    transition: 0.4s;
    background-color:white;
    top:0;
    z-index:3;
    box-shadow: 0px 0px 8px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

#fat-nav #hamburger {
    display: none;
}

#fat-nav .links {
    color:#222222;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 56vw;
}

#fat-nav .links a {
    padding:5px;
    border-bottom: 3px solid transparent;
}

#fat-nav .links a:hover {
    padding:5px;
    border-bottom: 3px solid #d32b20;
}

#fat-nav #logo {
    transition:0.5s;
    width:300px;
    display:flex;
    justify-content: flex-start;
    width: 22vw;
}

#fat-nav #social {
    transition:0.5s;
    width:20%;
    max-width:300px;
    display:flex;
    justify-content: space-evenly;
    width: 22vw;
}

#fat-nav #curtain {
    display:none;
}

/*
** CURTAIN
*/

.overlay {
    display: none;
}

@media (max-width:800px) {
    #fat-nav {
        justify-content: space-between;
    }
    #fat-nav #hamburger {
        display: flex;
        font-size: 32px;
        padding: 8px;
        text-align: right;
    }
    #fat-nav #logo {
        align-self: flex-start;
    }
    #fat-nav .links {
        display:none;
    }
    #fat-nav #social {
        display:none;
    }
    .curtain-icons {
        display: flex;
        color: green;
        flex-direction: row !important;
    }
    .curtain-logo {
        align-self: center;
        width:100vmin;
    }

    /* The Overlay (background) */
    .overlay {
      /* Height & width depends on how you want to reveal the overlay (see JS below) */
      display: block;
      height: 0;
      width: 100%;
      position: fixed; /* Stay in place */
      z-index: 100; /* Sit on top */
      left: 0;
      top: 0;
      background-color: rgb(255,255,255); /* Black fallback color */
      background-color: rgba(255,255,255, 0.9); /* Black w/opacity */
      overflow-x: hidden; /* Disable horizontal scroll */
      transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }

    /* Position the content inside the overlay */
    .overlay-content {
      position: relative;
      top: 20%;
      width: 100%; /* 100% width */
      text-align: center; /* Centered text/links */
      margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }

    /* The navigation links inside the overlay */
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #222222;
      display: block; /* Display block instead of inline */
      transition: 0.3s; /* Transition effects on hover (color) */
    }

    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }

    /* Position the close button (top right corner) */
    .overlay .closebtn {
      position: absolute;
      top: -20%;
      right: 20px;
      font-size: 60px;
    }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/*
** HOME
*/

#home {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

#home .content {
    margin:200px 0px 80px 0px;
    display:grid;
    grid-template-columns:48vmin 48vmin;
    background-color: white;
}

#bio {
    align-self: center;
}

#profile {
    width:100%;
    align-self: center;
}


/*
** PHOTOS
*/

#photos {

}

/*
** VIDEOS
*/

#videos {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#videos iframe {
    margin-bottom:64px;
    width:500px;
    height:300px;
}

/*
** MUSIC
*/

#musique {
    display: flex;
    justify-content: center;
}

#musique .content {
    width:96vmin;
}

/*
** CONTACT
*/

#contact {
    display:none;
}
